.total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 0;
}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
#logo{
    height: 20px;
    width: auto;    
}
.flextype{
    flex: auto;

}
.header{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    background-color: black;
    padding: 30px;
}
.right{
    justify-content: right;
    align-content: center;
    word-spacing: 2px;
}
.body1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: black;
    padding: 30px;
}
.start{
    width: 50%;
    height: auto;
}
h1, .body1 p{
    color:rgb(181, 247, 50);
}
button{
    height: 30px;
    width: 70px;
    padding: 5px;
    text-align: center;
    background-color: blue;
    color: aliceblue;
    border: 1px solid white;
}
.body1{
    display:flex;
    justify-content: center;
}
#petpicture{
    height: 200px;
    width: auto;
}
img{
    height: 200px;
    width: 140px;
    max-width: 100%;
    height: auto;
}
.img2{
    display: flex;
    justify-content:space-between;
    text-align: center;
    object-fit: contain;
}
.ib2{
    flex:auto;
    padding: auto;
}
h2{
    text-align: center;
}
.body3{
    text-align: center;
    display: flex;
    justify-content: center;
}
.about{
    width: 700px;
    height:auto;
    text-align: center;
    position: relative;
    margin-bottom: 0%;
}
.outer{
    background-color: gray;
    color: azure;
    padding: 70px;
}
.right{
    margin-top: 0%;
    display:flex;
}
.body4{
    display: flex;
    justify-content:center;
    margin:20px auto auto auto;
    width: 70%;
    height: auto;
    background-color:indianred;
    padding: 0%;
}
.button2{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
}
.flexible{
    flex: auto;
    color: aquamarine;
}
.write{
    padding: 40px 20px 20px 20px;
    margin-left: 40px;
    flex:auto;
    align-content: center;
    justify-content: center;
}
.footer{
    background-color: black;
    color: ghostwhite;
    margin-top: 20px;
    text-align: center;
}
.thor{
    margin: auto;
    padding: auto;
    width: 30%;
}